html,body
  font-weight :200
  line-height :1
  font-family :'PingFang SC','STHeitiSC-Light'
.clearfix
  display :inline-block
  &:after
    display :block
    line-height :0
    height :0
    clear :both
    visibility :hidden
    content :"."





.border-1px
  &::after
    -webkit-transform : scaleY(0.7)
    transform :scaleY(0.7)

